.join-section {
  padding-top: 140px;
  padding-bottom: 60px;
  background: linear-gradient(120deg, #fffcd5, #c7dfff);
  color: #2343ac;
}

.join-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.join-subtitle {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1.1rem;
}

.join-form {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.join-form label {
  font-weight: 500;
}

.join-form input,
.join-form select,
.join-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.join-form textarea {
  resize: vertical;
}

.form-button {
  padding: 12px;
  border: none;
  background-color: rgb(201, 201, 50);
  color: #2343ac;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.form-button:hover {
  background-color: #f1e741;
}

.form-message {
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}
